<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Review | ReviewT</title>
  </head>
  <body>
    <h1>UPDATE A PRODUCT!</h1>

    <img src="<%=item.img%>" alt="">

    <form class="" action="/main/<%=item._id%>?_method=PUT" method="post">

      <input class = 'items' type="text" name='name' value="<%=item.name%>" placeholder='PRODUCT NAME *' required oninvalid="this.setCustomValidity('Product name must be 2-20 characters long')"
      oninput="this.setCustomValidity('')" pattern="[A-Za-z\s\W+]{2,20}">

      <input class = 'items' type="text" name="title" value="<%=item.title%>" placeholder='TITLE *' required oninvalid="this.setCustomValidity('Title must be 5-30 characters long')"
      oninput="this.setCustomValidity('')" pattern="[A-Za-z\s\W+]{5,30}">

      <input class = 'items' type="text" name="price" value="<%=item.price%>" placeholder='PRICE'>

      <input class = 'items' type="text" name="description" value="<%=item.description%>" placeholder='DESCRIPTION OF THE PRODUCT *' required oninvalid="this.setCustomValidity('Description must be 8-300 characters long')"
      oninput="this.setCustomValidity('')" pattern="[A-Za-z\s\W+]{8,300}">


      <input class = 'items' type="text" name="boughtAt" value="<%=item.boughtAt%>" placeholder="PLACE OF PURCHASE *" required oninvalid="this.setCustomValidity('Place of purchase must be 2-20 characters long')"
      oninput="this.setCustomValidity('')" pattern="[A-Za-z\s\W+]{2,20}">

      <input class= 'items' type="text" name="img" value="<%=item.img%>" placeholder="IMG URL">

      <h3>Recommend to a friend? <input class = 'items' type="checkbox" name="recommend" <% if (item.recommend === '✓') { %>
        checked
        <% } %>></h3>
      <input type="submit" name="" value="EDIT">
    </form>
  </body>
</html>
