<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Products</title>
    <link rel="stylesheet" href="/css/index.css">

      <!-- <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        charset="utf-8"
      ></script> -->

    <script src="app.js" charset="utf-8"></script>

  </head>

  <header>

    <div class="head">
      <div class="title-div">
        <h1 class= 'logo'><a class='logo' href="/main">ReviewT</a></h1>
      </div>

      <div class="profile-div">
        <form action="/sessions?_method=DELETE" method="post">
          <input type="submit" name="" value="Log Out" class= ''>
        </form>
        <h2 class= 'username-nav'><%= currentUser.username %></h2>
        <a href="/main/profile"><img class='profile-img' src="<%= currentUser.img %>" alt=""></a>
      </div>
    </div>
  </header>

    <body>

    <div class="page">

      <div class="side-container">
        <a class = 'side-links' href="/main/profile">MY PROFILE</a>
        <a class = 'side-links' href="/main/new">POST</a>
      </div>



      <div class="product-container">

        <% for (let i = 0; i < review.length; i++ ) {%>

          <div class="items-container">
          <h1><a class='name' href="/main/<%=review[i]._id%>"><%= review[i].name %></a></h1>
          <h2 class='title'><%= review[i].title %></h2>
          <div class="img-div">
            <img class='product-img' src="<%= review[i].img %>" alt="">
          </div>
          </div>
        <% } %>

      </div>

    </div>

  </body>

</html>
