<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ReviewT</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
    </style>
    <link rel="stylesheet" href="/css/index.css">

      <!-- <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        charset="utf-8"
      ></script> -->


  </head>

  <header>

    <div class="nav">
      <div class="title-div">
        <h1 class= 'logo'><a class='logo' href="/main">ReviewT</a></h1>
      </div>

      <div class="profile-div">
        <form action="/sessions?_method=DELETE" method="post">
          <input type="submit" name="" value="Log Out" class= ''>
        </form>
        <h2 class= 'username-nav'><%= currentUser.username %></h2>
        <a href="/main/profile"><img class='profile-img' src="<%= currentUser.img %>" alt="" onerror="this.src='https://unc.nc/wp-content/uploads/2020/07/Portrait_Placeholder.png'"></a>
      </div>
    </div>
  </header>

    <body>

    <div class="page">

      <!-- <a href="/authors">AUTHORS</a>
      <a href="/articles">ARTICLES</a> -->

      <a class = post href="/main/new">+</a>

      <div class="side-container">
        <a class = 'side-links' href="/main/profile">MY PROFILE</a>
        <a class = 'side-links' href="/main/new">POST</a>
        <a class = 'side-links' href="/main/users">REVIEWT USERS</a>
      </div>


        <!-- <h1 class='top-title'>User's Reviews</h1> -->

      <div class="product-container">



        <% for (let i = 0; i < review.length; i++ ) {%>

          <div class="items-container">
          <h1><a class='name' href="/main/<%=review[i]._id%>"><%= review[i].name %></a></h1>
          <h2 class='title'><%= review[i].title %></h2>
          <div class="img-div">
            <a class='img-link' href="/main/<%=review[i]._id%>"> <img class='product-img' src="<%= review[i].img %>" alt="products"></a>
          </div>
          </div>
        <% } %>

      </div>

    </div>

  </body>

  <hr class='line-break'>

  <footer>

    <div class="foot">

      <div class="social">
        <a class='foot-links' href="https://www.linkedin.com/in/andy-checo-645a77208/">LinkedIn</a>

        <a class='foot-links' href="https://github.com/SavedCity">GitHub</a>
      </div>

      <div class="line">

      </div>

      <div class="tag">
        <a class='bottom-logo-link' href="/main"><h3 class='bottom-logo'>ReviewT</h3></a>
        <h3 class='my-name'><span style="font-weight: 300; color: #fff6">Developed by:</span> Andy Checo</h3>
      </div>

    </div>

  </footer>

</html>
