<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=item.name%></h1>
    <h1><%=item.title%></h1>
    <img src="<%=item.img%>" alt="">
    <p><%=item.description%></p>
    <h1><%=item.price%></h1>
    <h1><%=item.recommend%></h1>
    <h1><%=item.boughtAt%></h1>
<br>
    <a href="/<%=item._id%>/edit">EDIT</a>

    <form action="/<%=item._id%>?_method=DELETE" method="post">
      <input class='delete-btn' type="submit" value="REMOVE">
    </form>
  </body>
</html>
